@use "../../styles/mixins" as mixin;

.userProfile,
.challenges,
.weekRecap,
.finishProfile,
.notifications {
  background-color: var(--bg-color);
  width: 279px;
  height: 189px;
  border-radius: 6px;
  padding: 10px 1rem;
  border: 1px solid var(--border-color);
  .startMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    h2 {
      font-size: 16px;
      font-weight: 400;
    }
    p {
      font-size: 14px;
      text-align: center;
      color: var(--secondary-text-color);
      margin-bottom: 10px;
    }
    button {
      font-weight: 400;
    }
  }
}

.userProfile {
  display: flex;
  gap: 3rem;
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
    a {
      font-size: 19px;
      margin-top: 10px;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      font-size: 12px;
      color: gray;
    }
  }
  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    .row {
      flex: 1;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
      &:nth-last-child(1) {
        border: none;
      }
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 10px;
      }
    }
  }
}


.challenges {
  height: 250px;
}

// Right Sidebar

.notifications {
  height: fit-content;
  padding-bottom: 10px;
  .label {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100%;
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 10px;
        color: var(--accent);
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.finishProfile {
  height: fit-content;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  p {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 14px;
      font-weight: 600;
    }
  }
  .progressBar {
    width: 100%;
    height: 5px;
    border-radius: 50px;
    background-color: lightgray;
    margin-bottom: 10px;
    .progress {
      background-color: var(--accent);
      width: 40%;
      height: 100%;
      border-radius: 50px;
    }
  }
  ul {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
