.gettingStarted {
    background-color: var(--bg-color);
    width: 100%;
    padding: 2rem;
    border-radius: 6px;
    height: 600px;
    .title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2 {
            font-size: 22px;
            font-weight: 500;
        }
        p {
            font-size: 14px;
        }
    }
}