@use "../../styles/mixins" as mixin;

.layout {
    background-color: var(--page-bg-color);
  .pageContent {
    @include mixin.site-width;
    height: 100vh;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    main {
      width: 50%;
    }
  }
}
