@use "../../styles/mixins" as mixin;

.singlePageLayout,
.dashboardLayout {
  background-color: var(--bg-color);

  .pageContent {
    @include mixin.site-width;
    height: fit-content;
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    min-height: 100vh;

    main {
      width: 50%;
    }
  }
}

.singlePageLayout {
  background-color: var(--bg-color);

  .pageContent {
    main {
      width: 100%;
    }
  }
}

.dashboardLayout {
  .pageContent {
    padding-bottom: 2rem;
  }
}

.settingsLayout {

}
