.emptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  gap: 1.5rem;
  h2 {
    font-weight: 500;
  }
  p {
    font-size: 14px;
    color: var(--secondary-text-color);
    width: 30%;
    text-align: center;
  }
  .buttons {
    display: flex;
    gap: 2rem;
    .primaryBtn {
      background-color: var(--accent);
      border: none;
      color: white;
      padding: 8px 15px;
      border-radius: 5px;
      font-weight: 500;
      cursor: pointer;
    }
    .secondaryBtn {
      background-color: var(--bg-color);
      border: none;
      color: var(--accent);
      font-weight: 500;
      cursor: pointer;
    }
  }
}
