.userActivity {
  border-radius: 12px;
  flex: 1;
  height: 700px;
  .header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding-bottom: 0.75rem;
    .tabList {
      display: flex;
      position: relative;
      list-style: none;
      gap: 2rem;
      padding: 0;
      margin: 0;
      li {
        font-size: 14px;
        color: #4d5256;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        &.active {
          color: black;
        }
      }
      .underline {
        position: absolute;
        bottom: -0.75rem;
        height: 4px;
        width: 100%;
        background-color: var(--accent);
        transition: all 250ms ease-in-out;
      }
    }
  }
}
