.statBox {
  width: 304px;
  border: 1px solid var(--border-color);
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  h2 {
    font-size: 14px;
    font-weight: 400;
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
  }
  .gripIcon {
    position: absolute;
    right: 1rem;
    top: 1.3rem;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}
