.lessonPlan {
    background-color: var(--secondary-bg-color);
    width: 279px;
    height: 189px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    height: 517px;
    
    .lessonPlanHeader {
        padding: 10px 1rem;
        font-size: 14px;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-size: 12px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .lessons {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 10px;
        .lesson {
            background-color: orange;
            width: 100%;
            height: 135px;
            border-radius: 12px;
            position: relative;
            .priority {
                background-color: red;
                padding: 5px 15px;
                border-radius: 22px;
                font-size: 12px;
                width: fit-content;
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }
    }
 

    .startMessage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 10px;

        h2 {
            font-size: 16px;
            font-weight: 400;
        }

        p {
            font-size: 14px;
            text-align: center;
            color: var(--secondary-text-color);
            margin-bottom: 10px;
        }

        button {
            font-weight: 400;
        }
    }
}