@use "../styles/mixins" as mixin;

:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --border-color: #ededef;
  --offwhite: #f9f9f9;
  --secondary-bg-color: #f6f6f7;
  --secondary-text-color: #242134;
  --accent: #17b978;
  --page-bg-color: #f7f7fa;
  --shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
}

:root[data-theme="dark"] {
  --bg-color: #161618;
  --text-color: #ffffff;
  --border-color: #212124;
  --offwhite: #f9f9f9;
  --secondary-bg-color: #f6f6f7;
  --secondary-text-color: #d9d9e6;;
  --accent: #17b978;
  --page-bg-color: #161618;
  --shadow: 0px 8px 12px rgba(10, 10, 10, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
  overflow-x: hidden;
  .auth-img {
    position: relative;
    z-index: 1;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: calc(100vh + 55px);
  }

  .form {
    height: 100%;
  }
}
