@use "../styles/mixins" as mixin;

:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --border-color: #ededef;
  --offwhite: #f9f9f9;
  --secondary-bg-color: #ffffff;
  --secondary-text-color: #474747;
  --accent: #2f89fc;
  --page-bg-color: #F7F7FA;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --activeBgColor: #F2F2F2;
}

:root[data-theme="dark"] {
  --bg-color: #181818;
  --text-color: #ffffff;
  --border-color: #212124;
  --offwhite: #f9f9f9;
  --secondary-bg-color: #212121;
  --secondary-text-color: #d9d9e6;;
  --accent: #2f89fc;
  --page-bg-color: #161618;
  --shadow: none;
  --activeBgColor: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
  overflow-x: hidden;
  .auth-img {
    position: relative;
    z-index: 1;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: calc(100vh + 55px);
  }

  .form {
    height: 100%;
  }
}
